In [67]:
import pandas as pd
import numpy as np

In [13]:
data=pd.read_excel('../STANFORD_ HIPGive_By_country_2014_2019_JUNUETH.xlsx',sheet_name='All funders data 2014-2019')

In [15]:
data.columns

Index([u'Project ID', u'Date (2 horas atrasados)', u'Project Name',
       u'Organization', u'Organization Tax ID', u'Organization Address',
       u'Country', u'Project Goal', u'Transaction ID', u'Payer Name',
       u'Payer Email', u'Total Donation', u'Donation Amount', u'HIPTIP Amount',
       u'HIPGive Fee', u'WePay Payment Amount', u'WePay Fee', u'Match Amount',
       u'Total Channeled to nonprofits',
       u'Total Donation Amount+HIPTIP+HIPGIVE FEE+MATCH', u'Grant per year',
       u'Total DA+HT+HG+MF+G', u'Coupon code', u'Promo code', u'Anonymous',
       u'Message', u' ', u' .1', u' .2', u' .3', u' .4', u' .5', u' .6'],
      dtype='object')

In [35]:
columns=[u'Project ID', u'Project Name',u'Date (2 horas atrasados)',u'Project Goal', u'Total Donation', u'Donation Amount', u'HIPTIP Amount',
       u'HIPGive Fee', u'WePay Fee', u'Match Amount',       
       u'Total Donation Amount+HIPTIP+HIPGIVE FEE+MATCH']

In [36]:
ndata=data[columns]

In [37]:
proyect_id=ndata[u'Project ID'].unique()

In [38]:
type(proyect_id[0])

numpy.float64

In [39]:
dic_project_donations={}
for p_id in proyect_id:
    dic_project_donations[p_id]=ndata.loc[ndata.loc[:, u'Project ID'] == p_id]

In [72]:
#df_info=dic_project_donations[22316.0]
df_info=dic_project_donations[13545]

In [73]:
df_info

,Project ID,Project Name,Date (2 horas atrasados),Project Goal,Total Donation,Donation Amount,HIPTIP Amount,HIPGive Fee,WePay Fee,Match Amount,Total Donation Amount+HIPTIP+HIPGIVE FEE+MATCH
6635,13545.0,Young women for the right to decide!,2016-03-15 16:54:30,5000.0,13.8,12.0,1.8,NaN,0.7,NaN,13.8

In [44]:
df_info['Donation Amount'].values

array([  30. ,   25. ,  125. ,    4.4,   15. ,  174. ,   15. ,   20. ,
         50. ,   50. , 1000. ,   25. ,   20. ,  100. ])

In [52]:
df_info['Match Amount'].values.sum()

nan

In [71]:
#hola=np.ndarray([30.2,20.2], dtype=float)
HOLA=np.array([[1, 2, 3], [4, 5, 6]], np.int32)