In [1]:
import pandas as pd
import numpy as np

In [44]:
userDat=pd.read_csv('original_data/hip_users_migration.csv')
userDat.columns

Index([u'id', u'user_login', u'username', u'role', u'first_name', u'last_name',
       u'nickname', u'displayname', u'email', u'website', u'biographical_info',
       u'profile_picture', u'organization_id',
       u'completed_required_docs_form_fields', u'notified_required_docs_form',
       u'fiscal_location', u'us_address_provided', u'us_city', u'us_state',
       u'us_zip_code', u'latam_bank_holder',
       u'latam_bank_acount_owner_address', u'latam_bank_account_number',
       u'latam_bank_aba_number', u'latam_bank_bank_name',
       u'latam_bank_routing_number', u'latam_bank_swift', u'latam_bank_clabe',
       u'latam_bank_interm_bank_name', u'latam_bank_interm_swift',
       u'latam_bank_interm_phone_number', u'board_member_list_0_document',
       u'board_member_list', u'incorporation_as_a_nonprofit',
       u'irs_determination_letter_0_document', u'irs_determination_letter',
       u'irs990_or_audited_financial_statement_0_document',
       u'irs990_or_audited_financial_statement',
       u'current_fiscal_year_organizational_budget_0_document',
       u'current_fiscal_year_organizational_budget',
       u'us_sponsorship_agreement', u'user_registered', u'user_status',
       u'valid', u'errors', u'created_at', u'updated_at', u'Unnamed: 47',
       u'Unnamed: 48', u'Unnamed: 49', u'Unnamed: 50', u'Unnamed: 51',
       u'Unnamed: 52', u'Unnamed: 53', u'Unnamed: 54', u'Unnamed: 55',
       u'Unnamed: 56', u'Unnamed: 57', u'Unnamed: 58', u'Unnamed: 59',
       u'Unnamed: 60'],
      dtype='object')

In [45]:
features=[u'id', u'user_login','username', u'role', u'first_name', u'last_name',
       u'nickname', u'displayname', u'email', u'website', u'biographical_info',
       u'profile_picture', u'organization_id',
       u'completed_required_docs_form_fields', u'notified_required_docs_form',
       u'fiscal_location', u'us_address_provided', u'us_city', u'us_state',
       u'us_zip_code', u'latam_bank_holder',
       u'latam_bank_acount_owner_address', u'latam_bank_account_number',
       u'latam_bank_aba_number', u'latam_bank_bank_name',
       u'latam_bank_routing_number', u'latam_bank_swift', u'latam_bank_clabe',
       u'latam_bank_interm_bank_name', u'latam_bank_interm_swift',
       u'latam_bank_interm_phone_number', u'board_member_list_0_document',
       u'board_member_list', u'incorporation_as_a_nonprofit',
       u'irs_determination_letter_0_document', u'irs_determination_letter',
       u'irs990_or_audited_financial_statement_0_document',
       u'irs990_or_audited_financial_statement',
       u'current_fiscal_year_organizational_budget_0_document',
       u'current_fiscal_year_organizational_budget',
       u'us_sponsorship_agreement', u'user_registered', u'user_status',
       u'valid', u'errors', u'created_at', u'updated_at']
userDat=userDat[features]

In [57]:
userDat.shape

(23135, 47)

In [47]:
comparison1 = userDat['user_login']==userDat['username']
comparison1.value_counts()

True    23135
dtype: int64

In [48]:
comparison2 = userDat['user_login']==userDat['nickname']
comparison2.value_counts()

True     22884
False      251
dtype: int64

In [49]:
comparison3 = userDat['user_login']==userDat['email']
comparison3.value_counts()

False    14958
True      8177
dtype: int64

In [50]:
userDat.role.value_counts()

hipgive_user    23135
Name: role, dtype: int64

In [79]:
#userDat.organization_id.value_counts() # Indica que existen 741 tpos diferentes 
                                        # 'ornagization_id', falta sabes cuantos 
                                        # registros se encuentran vacios
aux_data_organization_id =userDat['organization_id'].copy() # Realiza copia de la columna 
                                                            # 'organization_id'
notnull = aux_data_organization_id.dropna()                 # Elimina los datos nulos en
                                                            # 'aux_data_organization_id'
notnull.size  # Imprime el tamaño de los registros no nulos
#result = userDat['organization_id']=='NULL'
#result.value_counts()

751

In [81]:
notnull.isna().value_counts()

False    751
Name: organization_id, dtype: int64

In [83]:
aux_data_organization_id.isna().value_counts()

True     22384
False      751
Name: organization_id, dtype: int64

In [66]:
#resultw =userDat['website']!='http://fcbajio.org/'
#resultw.value_counts()
userDat['website'].value_counts()
#Por los pocos datos de las páginas web, se descarta esta información como variable a cosiderar

http://solmarfoundation.com          1
http://www.enlacedefamilias.org/     1
http://www.pahofoundation.org/en/    1
http://WWW.GRAMEENPRIMACARE.ORG      1
http://fcbajio.org/                  1
Name: website, dtype: int64

In [91]:
userDat.columns

Index([u'id', u'user_login', u'username', u'role', u'first_name', u'last_name',
       u'nickname', u'displayname', u'email', u'website', u'biographical_info',
       u'profile_picture', u'organization_id',
       u'completed_required_docs_form_fields', u'notified_required_docs_form',
       u'fiscal_location', u'us_address_provided', u'us_city', u'us_state',
       u'us_zip_code', u'latam_bank_holder',
       u'latam_bank_acount_owner_address', u'latam_bank_account_number',
       u'latam_bank_aba_number', u'latam_bank_bank_name',
       u'latam_bank_routing_number', u'latam_bank_swift', u'latam_bank_clabe',
       u'latam_bank_interm_bank_name', u'latam_bank_interm_swift',
       u'latam_bank_interm_phone_number', u'board_member_list_0_document',
       u'board_member_list', u'incorporation_as_a_nonprofit',
       u'irs_determination_letter_0_document', u'irs_determination_letter',
       u'irs990_or_audited_financial_statement_0_document',
       u'irs990_or_audited_financial_statement',
       u'current_fiscal_year_organizational_budget_0_document',
       u'current_fiscal_year_organizational_budget',
       u'us_sponsorship_agreement', u'user_registered', u'user_status',
       u'valid', u'errors', u'created_at', u'updated_at'],
      dtype='object')

In [96]:
userDat.completed_required_docs_form_fields.isna().value_counts()

True     14083
False     9052
Name: completed_required_docs_form_fields, dtype: int64

In [101]:
userDat.fiscal_location.value_counts()

us                  1754
latam                111
avoket                 1
ojiluxa                1
epojuva                1
enoni                  1
ylypoze                1
Sharline               1
Chorizocrampon21       1
Name: fiscal_location, dtype: int64

In [102]:
userDat.us_address_provided.value_counts()

Gotzkowskystrasse 23             2
Rosenstrasse 21                  2
2601 Mission Street Suite 500    2
Rue De Berloz 240                2
79 Creegans Road                 2
34 Boulevard Amiral Courbet      2
Rua Dos Espanhois 1150           2
14 Old Edinburgh Road            2
12 Rue Du Faubourg National      2
Stoklokken 84                    2
Herrenberg 105                   2
Ellmenreichstrasse 24            2
Via Torricelli 1                 2
Luckenwalder Strasse 87          2
Voederheil 72                    1
Via Archimede 59                 1
Via Genova 111                   1
Vollenhovemeen 65                1
84 Constitution St               1
34 Roker Terrace                 1
PO Box 41318                     1
91 Alfred Street                 1
50 Rue De Raymond Poincare       1
Deken Kempslaan 187              1
60 Duckpit Lane                  1
3415 Morris Street               1
Rua Nair Pimenta Da Silva 992    1
Horner Strasse 64                1
Ziegelstr. 18                    1
93 Peninsula Drive               1
                                ..
708 Harron Drive                 1
Arbraut 12                       1
Luebecker Strasse 49             1
Stra?E Der Pariser Kommune 57    1
Lange Strasse 53                 1
Viale Delle Province 92          1
50 Town Lane                     1
9 Rue Du Fosse Des Tanneurs      1
Frankfurter Allee 85             1
106 S 6th Street                 1
Kopfholzistrasse 141             1
Maagdenweg 139                   1
Piazza Principe Umberto 81       1
Van Watervlietstraat 196         1
Van Naeltwijckstraat 102         1
Kantstrasse 46                   1
Lambrechtstraat 358              1
7 Place Du Jeu De Paume          1
Via Stadera 12                   1
35 Carriers Road                 1
Rua Sao Benedito 108             1
Untere Bahnhofstrasse 8          1
Haiden 66                        1
80 Freezeland Lane               1
95 Thames Street                 1
78 Spencer Street                1
82 Golf Road                     1
32 Maintongoon Road              1
Via Delle Azalee 135             1
16 Temple Way                    1
Name: us_address_provided, Length: 1755, dtype: int64

In [103]:
userDat.us_city.value_counts()

Reykjavik              12
Kobenhavn V            11
Los Angeles            10
Kobenhavn K             9
Sao Paulo               8
Toronto                 7
Paris                   7
Frederiksberg C         6
Washington              6
Munchen                 5
London                  5
Wroclaw                 5
Rotterdam               5
San Francisco           5
Oakland                 5
Chicago                 4
Warszawa                4
Albuquerque             4
Atlanta                 4
Utrecht                 4
Salvador                4
Lodz                    4
Amsterdam               4
Montreal                4
Lublin                  4
Ottawa                  3
Phoenix                 3
Luneville               3
Neuilly-Sur-Marne       3
Haarlem                 3
                       ..
Ramskapelle             1
Caerau                  1
Stuttgart Degerloch     1
Sava                    1
Sherbrooke              1
Rybnik                  1
Bridge Lake             1
Karlstad                1
Merignac                1
Schlagereck             1
Haguenau                1
Ashley                  1
Schuss                  1
Satellite Beach         1
Dadizele                1
Lorain                  1
Cerro Veronese          1
Zeist                   1
Rastede                 1
Harrislee               1
Ermelo                  1
Bermel                  1
Albiate                 1
Helmond                 1
Langi Kal Kal           1
Yorkton                 1
Geleen                  1
Orange                  1
Newburgh                1
Swordly                 1
Name: us_city, Length: 1521, dtype: int64

In [104]:
userDat.us_state.value_counts()

CENTRE                94
BURGENLAND            79
NSW                   47
CA                    40
BY                    39
QLD                   35
ZH                    31
SP                    30
REGION SJALLAND       30
VIC                   29
WA                    27
ILE-DE-FRANCE         26
RP                    25
NH                    25
GE                    24
NB                    19
ON                    18
LOWER AUSTRIA         18
BW                    17
UPPER AUSTRIA         17
NW                    17
WHT                   17
SA                    16
NI                    15
FL                    14
OV                    14
NC                    13
NY                    13
GR                    12
REGION SYDDANMARK     11
                      ..
AM                     1
AP                     1
enoni                  1
AV                     1
BRETAGNE               1
WLX                    1
New York, NY           1
VA                     1
PT                     1
BL                     1
Alabama                1
New Zealand            1
AUVERGNE               1
REGION HOVEDSTADEN     1
Washington             1
Oregon                 1
RA                     1
PICARDIE               1
Georgia                1
PN                     1
Chiapas, Mexico        1
BS                     1
FRANCHE-COMTE          1
YT                     1
Co                     1
New Mexico             1
VR                     1
VV                     1
BI                     1
HB                     1
Name: us_state, Length: 206, dtype: int64

In [115]:
user=pd.read_csv('original_data/hip_users_migration.csv')

In [116]:
features=['id','username', 'first_name','last_name','nickname','displayname','email','organization_id','fiscal_location','us_address_provided','us_city','us_state','user_registered','errors','created_at','updated_at']

In [117]:
user = user[features]

In [118]:
user.head()

,id,username,first_name,last_name,nickname,displayname,email,organization_id,fiscal_location,us_address_provided,us_city,us_state,user_registered,errors,created_at,updated_at
0,55,Ruth.Ortega@outlook.com,Ruth,Ortega,Ruth.Ortega@outlook.com,Ruth.Ortega@outlook.com,Ruth.Ortega@outlook.com,17783,NaN,NaN,NaN,NaN,2015-03-07 6:50:31,[\The irs determination letter 0 document fiel...,"\""The irs990 or audited financial statement 0 ...","\""The us sponsorship agreement field is requir..."
1,56,joelledeschamps@oxfammexico.org,Joelle,Deschamps,joelledeschamps@oxfammexico.org,Joelle Deschamps,joelledeschamps@oxfammexico.org,18012,NaN,NaN,NaN,NaN,2015-03-07 6:50:31,[\The irs determination letter 0 document fiel...,"\""The irs990 or audited financial statement 0 ...","\""The us sponsorship agreement field is requir..."
2,57,justin@myneighborhoodproject.org,Justin,Trezza,justin@myneighborhoodproject.org,Justin Trezza,justin@myneighborhoodproject.org,18003,us,2141 N Howard St,Philadelphia,PA,2015-03-07 6:50:31,[\The us sponsorship agreement field is requir...,"\""The latam bank holder field is required.\""","\""The latam bank acount owner address field is..."
3,58,kheilman@tallerpr.org,Katherine,Heilman,kheilman@tallerpr.org,Katherine Heilman,kheilman@tallerpr.org,18059,NaN,NaN,NaN,NaN,2015-03-07 6:50:31,[\The irs determination letter 0 document fiel...,"\""The irs990 or audited financial statement 0 ...","\""The us sponsorship agreement field is requir..."
4,59,vmoser@lawanc.org,Violeta,Moser,vmoser@lawanc.org,Violeta Moser,vmoser@lawanc.org,NaN,NaN,NaN,NaN,NaN,2015-03-07 6:50:31,"[\The organization id field is required.\""","\""The irs determination letter 0 document fiel...","\""The irs990 or audited financial statement 0 ..."