In [1]:
import pandas as pd
import numpy as np

In [3]:
#Lectura de la base de datos de los proyectos de organizaciones
PO_data=pd.read_csv('original_data/hipgive_project_organizations_migration.csv')

In [5]:
PO_data.columns

Index([u'id', u'project_id', u'name', u'tax_id', u'address', u'created_at',
       u'updated_at', u'Unnamed: 7', u'Unnamed: 8', u'Unnamed: 9',
       u'Unnamed: 10', u'Unnamed: 11', u'Unnamed: 12', u'Unnamed: 13'],
      dtype='object')

In [6]:
#El dataframe tiene columnas extras. Utilizaremos unicamente las que nos interesan, para ello 
#construiremos un nuevo dataframe.
PO_dat=PO_data[[u'id', u'project_id', u'name', u'tax_id', u'address', u'created_at',
       u'updated_at']]

In [8]:
PO_dat.head(3)

,id,project_id,name,tax_id,address,created_at,updated_at
0,1,5711,Zeta Team,NaN,NaN,2019-06-12 23:11:47,2019-06-12 23:11:47
1,2,5523,NaN,NaN,NaN,2019-06-12 23:11:47,2019-06-12 23:11:47
2,3,5586,Grameen PrimaCare,NaN,NaN,2019-06-12 23:11:47,2019-06-12 23:11:47

In [11]:
#Investigando las propedades del campo 'id'
PO_dat['id'].shape

(1078,)

# 'project_id'

In [29]:
##Investigando las propedades del campo 'project_id'
project_id=PO_dat['project_id']
project_id.shape

(1078,)

In [28]:
#Veamos si existen 'project_id' que se repitan.
aux=project_id.value_counts()==1
aux.value_counts()

True    1078
Name: project_id, dtype: int64

# 'name'

In [30]:
#Investigando las propedades del campo 'name'
name=PO_dat['name']
name.shape

(1078,)

In [32]:
name.isna().value_counts()

False    958
True     120
Name: name, dtype: int64

# 'tax_id'

In [33]:
#Investigando las propedades del campo 'tax_id'
tax_id=PO_dat['tax_id']
tax_id.shape

(1078,)

In [37]:
tax_id.isna().value_counts()

False    602
True     476
Name: tax_id, dtype: int64

# 'address'

In [38]:
#Investigando las propedades del campo 'address'
address=PO_dat['address']
address.shape

(1078,)

In [39]:
address.isna().value_counts()

False    633
True     445
Name: address, dtype: int64