In [1]:
import pandas as pd

In [6]:
donations=pd.read_csv('../Original_data_mysql/hipgive_donations_migration.csv')
prjctorg=pd.read_csv('../Original_data_mysql/hipgive_project_organizations_migration.csv')
#users=pd.read_csv('../Original_data_mysql/hipgive_users_migration.csv')

In [11]:
#users=pd.read_csv('../Original_data_mysql/users.csv',dtype={'user_id': int})

/home/jorge/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (31,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
users=pd.read_csv('../Original_data_mysql/hipgive_users_migration.csv',low_memory=False)

In [17]:
users.columns

Index(['id', 'user_login', 'username', 'role', 'first_name', 'last_name',
       'nickname', 'displayname', 'email', 'website', 'biographical_info',
       'profile_picture', 'organization_id',
       'completed_required_docs_form_fields', 'notified_required_docs_form',
       'fiscal_location', 'us_address_provided', 'us_city', 'us_state',
       'us_zip_code', 'latam_bank_holder', 'latam_bank_acount_owner_address',
       'latam_bank_account_number', 'latam_bank_aba_number',
       'latam_bank_bank_name', 'latam_bank_routing_number', 'latam_bank_swift',
       'latam_bank_clabe', 'latam_bank_interm_bank_name',
       'latam_bank_interm_swift', 'latam_bank_interm_phone_number',
       'board_member_list_0_document', 'board_member_list',
       'incorporation_as_a_nonprofit', 'irs_determination_letter_0_document',
       'irs_determination_letter',
       'irs990_or_audited_financial_statement_0_document',
       'irs990_or_audited_financial_statement',
       'current_fiscal_year_organizational_budget_0_document',
       'current_fiscal_year_organizational_budget', 'us_sponsorship_agreement',
       'user_registered', 'user_status', 'valid', 'errors', 'created_at',
       'updated_at', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
       'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57',
       'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60'],
      dtype='object')

In [27]:
user_reatures=['id', 'role', 'first_name', 'last_name',
       'displayname', 'organization_id',
       'us_address_provided', 'us_city', 'us_state',
       'user_registered']
users = users[user_reatures]

In [28]:
users.columns

Index(['id', 'role', 'first_name', 'last_name', 'displayname',
       'organization_id', 'us_address_provided', 'us_city', 'us_state',
       'user_registered'],
      dtype='object')

In [29]:
users.head()

,id,role,first_name,last_name,displayname,organization_id,us_address_provided,us_city,us_state,user_registered
0,55,hipgive_user,Ruth,Ortega,Ruth.Ortega@outlook.com,17783,NaN,NaN,NaN,2015-03-07 6:50:31
1,56,hipgive_user,Joelle,Deschamps,Joelle Deschamps,18012,NaN,NaN,NaN,2015-03-07 6:50:31
2,57,hipgive_user,Justin,Trezza,Justin Trezza,18003,2141 N Howard St,Philadelphia,PA,2015-03-07 6:50:31
3,58,hipgive_user,Katherine,Heilman,Katherine Heilman,18059,NaN,NaN,NaN,2015-03-07 6:50:31
4,59,hipgive_user,Violeta,Moser,Violeta Moser,NaN,NaN,NaN,NaN,2015-03-07 6:50:31

In [30]:
donations.columns

Index(['id', 'project_id', 'payment_date', 'payer_name', 'payer_email',
       'total_donation', 'donation_amount', 'hiptip_percent',
       'wepay_payment_amount', 'wepay_fee', 'coupon_code', 'anonymous',
       'newsletter', 'display_name', 'message', 'perk_shipping_address',
       'hipgive_extra_promo_code', 'hipgive_extra_promo_code_amount',
       'subscription_id', 'transaction_id', 'wepay_checkout_id',
       'match_amount', 'match_id', 'using_stripe', 'stripe_payment_id',
       'wepay_preapproval_id', 'post_author_override', 'author_user_id',
       'status', 'post_modified', 'post_date', 'post_date_gmt', 'created_at',
       'updated_at', 'place'],
      dtype='object')

In [32]:
donations_features=['id', 'project_id', 'payment_date', 'payer_name',
       'total_donation', 'donation_amount', 'hiptip_percent',
       'wepay_payment_amount', 'wepay_fee', 'coupon_code', 'anonymous',
      'display_name', 'message',
       'hipgive_extra_promo_code', 'hipgive_extra_promo_code_amount',
        'transaction_id', 'wepay_checkout_id',
       'match_amount', 'match_id', 'author_user_id',
       'status',  'post_date', 'post_date_gmt', 'place']
donations=donations[donations_features]